<footer class="bg-dark text-white mt-10">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <h5>About Me</h5>
          I'm a passionate UI Developer skilled in React and Ruby. 🚀 <br>
          With 4+ years of experience, I stay up-to-date with the latest industry trends. 📚 <br>
          Let's connect and create impactful digital experiences together! ✨
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <span>Email: info@example.com</span>
        <br/>
        <span>Phone: +123456789</span>
      </div>
      <div class="col-md-4">
        <h5>Follow Me</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://linkedin.com" target="_blank" class="text-white">
              <i class="fab fa-linkedin mr-1"></i> LinkedIn
            </a>
          </li>
          <li>
            <a href="https://github.com" target="_blank" class="text-white">
              <i class="fab fa-github mr-1"></i> GitHub
            </a>
          </li>
          <li>
            <a href="https://twitter.com" target="_blank" class="text-white">
              <i class="fab fa-twitter mr-1"></i> Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
