<footer class="bg-dark text-white mt-10">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <h5>About Me</h5>
        Hey, I am Dima Hinev - passionate web developer skilled in
        <i style="color: #5FD3F3" class="fa-brands fa-react"></i> + 
        <%= image_tag "ruby-icon.svg", class: "mr-1", width: 18, height: 18, alt: "Ruby Icon" %>
        <br>
      </p>
    </div>
    <div class="col-md-4">
      <h5>Contact</h5>
      <span>Email: dimahinev31999@gmail.com</span>
      <br/>
      <span>Phone: +37368007942</span>
    </div>
    <div class="col-md-4">
      <h5>Follow Me</h5>
      <ul class="list-unstyled">
        <li>
          <a href="https://www.linkedin.com/in/dima-hinev-4782371b4/" target="_blank" class="text-white">
            <i class="fab fa-linkedin mr-1"></i> LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/Daimon31999" target="_blank" class="text-white">
            <i class="fab fa-github mr-1"></i> GitHub
          </a>
        </li>
        <li>
          <a href="https://twitter.com/its___dh" target="_blank" class="text-white">
            <i class="fab fa-twitter mr-1"></i> Twitter
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
